
.logo {
  height: 12em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 1.7em #5886fbaa);
}

#strava-connect-btn {
  background-image: url("/strava_api_logos/btn_strava_connectwith_orange/btn_strava_connectwith_orange.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 48px;
  width: 193px;
}